<body>
<h1 id="distance">Paper Level 1: ?,  Paper Level 2: ?</h1>

<script src = https://cdn.socket.io/socket.io-1.4.5.js>
</script>
<script>

    var socket = io();

    socket.on('distance', function(data){
      console.log(data)
      document.getElementById("distance").innerHTML = "Paper Level 1: " + data.distance + ", Paper Level 2: " + data.distance2;
    });
</script>
</body> 